/* Stilisiere das gesamte Dokument */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100vh;
}

#app {
  background-color: #5e636e;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 100vh;
  text-align: center;
}

input[type="text"] {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

button {
  background-color: #2f3237;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5e636e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

span {
  color: #333;
}

i {
  cursor: pointer;
}

i:hover {
  opacity: 0.8;
}

h1 {
  color: #283593;
}
